<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite"
                  type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <modules>

    <module assemblyFile="Logger.dll"
        moduleType="Logger.ModuleDef.Main, Logger, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        moduleName="Logger"
        startupLoaded="true" />



    <module assemblyFile="DAL.dll"
                moduleType="DAL.ModuleDef.Main, DAL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
                moduleName="DAL"
                startupLoaded="true">
      <dependencies>
        <dependency moduleName="Resources"/>
        <dependency moduleName="Logger"/>
      </dependencies>
    </module>

    <module assemblyFile="Resources.dll"
            moduleType="Resources.ModuleDef.Main, Resources, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="Resources"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="Logger"/>
      </dependencies>
    </module>

    <module assemblyFile="GUI.dll"
            moduleType="GUI.ModuleDef.Main, GUI, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="GUI"
            startupLoaded="true">
      <dependencies>
        <dependency moduleName="Logger"/>
      </dependencies>
    </module>

  </modules>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CHUMDB" connectionString="data source=.\CHUMDB.db" providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>